{% if pageCount > 1 %}
    <nav class="flex items-center justify-center gap-8 border-t border-slate-400 px-4 dark:border-slate-700 sm:px-0">
        <div class="flex gap-2">
            {% if first is defined and current != first %}
                <div>
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="inline-flex items-center border-t-2 border-transparent pt-3 pr-1 text-sm font-medium text-slate-500 hover:text-slate-700 hover:border-slate-500 dark:text-slate-500 dark:hover:border-sky-300 dark:hover:text-sky-300">
                        <span>
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5"/>
                            </svg>
                        </span>
                    </a>
                </div>
            {% endif %}

            {% if previous is defined %}
                <div>
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="inline-flex items-center border-t-2 border-transparent pt-3 pr-1 text-sm font-medium text-slate-500 hover:text-slate-700 hover:border-slate-500 dark:text-slate-500 dark:hover:border-sky-300 dark:hover:text-sky-300">
                        <span>
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"/>
                            </svg>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="hidden md:-mt-[6px] sm:flex">
            {% for page in pagesInRange %}
                {% if page != current %}
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-slate-500 hover:text-slate-700 hover:border-slate-500 dark:text-slate-500 dark:hover:border-sky-300 dark:hover:text-sky-300">
                        {{ page }}
                    </a>
                {% else %}
                    <span class="inline-flex items-center border-t-2 px-4 pt-4 text-sm font-bold cursor-default text-slate-900 border-slate-900 dark:text-sky-400 dark:border-sky-400" aria-current="page">
                        {{ page }}
                    </span>
                {% endif %}
            {% endfor %}
        </div>

        <div class="flex gap-2">
            {% if next is defined %}
                <div>
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="inline-flex items-center border-t-2 border-transparent pt-3 pl-1 text-sm text-slate-500 hover:text-slate-700 hover:border-slate-500 dark:text-slate-500 dark:hover:border-sky-300 dark:hover:text-sky-300">
                        <span>
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"/>
                            </svg>
                        </span>
                    </a>
                </div>
            {% endif %}
            
            {% if last is defined and current != last %}
                <div>
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="inline-flex items-center border-t-2 border-transparent pt-3 pl-1 text-sm text-slate-500 hover:text-slate-700 hover:border-slate-500 dark:text-slate-500 dark:hover:border-sky-300 dark:hover:text-sky-300">
                        <span>
                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"/>
                            </svg>
                        </span>
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
{% endif %}
